.ikon {
  background: transparent url("../img/ico.png") repeat 0 0;
  width: 167px;
  height: 167px;
  display: inline-block;
}
.ikon.ikona-11 {
  background-position: 182px 167px;
}
.ikon.ikona-21 {
  background-position: 349px 167px;
}
.ikon.ikona-31 {
  background-position: 516px 167px;
}
.ikon.ikona-41 {
  background-position: 683px 167px;
}
.ikon.ikona-51 {
  background-position: 850px 167px;
}
.ikon.ikona-61 {
  background-position: 1017px 167px;
}
.ikon.ikona-71 {
  background-position: 1184px 167px;
}
.ikon.ikona-81 {
  background-position: 1351px 167px;
}
.ikon.ikona-12 {
  background-position: 182px 334px;
}
.ikon.ikona-22 {
  background-position: 349px 334px;
}
.ikon.ikona-32 {
  background-position: 516px 334px;
}
.ikon.ikona-42 {
  background-position: 683px 334px;
}
.ikon.ikona-52 {
  background-position: 850px 334px;
}
.ikon.ikona-62 {
  background-position: 1017px 334px;
}
.ikon.ikona-72 {
  background-position: 1184px 334px;
}
.ikon.ikona-82 {
  background-position: 1351px 334px;
}
.ikon.ikona-13 {
  background-position: 182px 501px;
}
.ikon.ikona-23 {
  background-position: 349px 501px;
}
.ikon.ikona-33 {
  background-position: 516px 501px;
}
.ikon.ikona-43 {
  background-position: 683px 501px;
}
.ikon.ikona-53 {
  background-position: 850px 501px;
}
.ikon.ikona-63 {
  background-position: 1017px 501px;
}
.ikon.ikona-73 {
  background-position: 1184px 501px;
}
.ikon.ikona-83 {
  background-position: 1351px 501px;
}
.ikon.ikona-14 {
  background-position: 182px 668px;
}
.ikon.ikona-24 {
  background-position: 349px 668px;
}
.ikon.ikona-34 {
  background-position: 516px 668px;
}
.ikon.ikona-44 {
  background-position: 683px 668px;
}
.ikon.ikona-54 {
  background-position: 850px 668px;
}
.ikon.ikona-64 {
  background-position: 1017px 668px;
}
.ikon.ikona-74 {
  background-position: 1184px 668px;
}
.ikon.ikona-84 {
  background-position: 1351px 668px;
}
.ikon.ikona-15 {
  background-position: 182px 835px;
}
.ikon.ikona-25 {
  background-position: 349px 835px;
}
.ikon.ikona-35 {
  background-position: 516px 835px;
}
.ikon.ikona-45 {
  background-position: 683px 835px;
}
.ikon.ikona-55 {
  background-position: 850px 835px;
}
.ikon.ikona-65 {
  background-position: 1017px 835px;
}
.ikon.ikona-75 {
  background-position: 1184px 835px;
}
.ikon.ikona-85 {
  background-position: 1351px 835px;
}
.ikon.ikona-16 {
  background-position: 182px 1002px;
}
.ikon.ikona-26 {
  background-position: 349px 1002px;
}
.ikon.ikona-36 {
  background-position: 516px 1002px;
}
.ikon.ikona-46 {
  background-position: 683px 1002px;
}
.ikon.ikona-56 {
  background-position: 850px 1002px;
}
.ikon.ikona-66 {
  background-position: 1017px 1002px;
}
.ikon.ikona-76 {
  background-position: 1184px 1002px;
}
.ikon.ikona-86 {
  background-position: 1351px 1002px;
}
.ikon.ikona-17 {
  background-position: 182px 1169px;
}
.ikon.ikona-27 {
  background-position: 349px 1169px;
}
.ikon.ikona-37 {
  background-position: 516px 1169px;
}
.ikon.ikona-47 {
  background-position: 683px 1169px;
}
.ikon.ikona-57 {
  background-position: 850px 1169px;
}
.ikon.ikona-67 {
  background-position: 1017px 1169px;
}
.ikon.ikona-77 {
  background-position: 1184px 1169px;
}
.ikon.ikona-87 {
  background-position: 1351px 1169px;
}
.ikon.ikona-18 {
  background-position: 182px 1336px;
}
.ikon.ikona-28 {
  background-position: 349px 1336px;
}
.ikon.ikona-38 {
  background-position: 516px 1336px;
}
.ikon.ikona-48 {
  background-position: 683px 1336px;
}
.ikon.ikona-58 {
  background-position: 850px 1336px;
}
.ikon.ikona-68 {
  background-position: 1017px 1336px;
}
.ikon.ikona-78 {
  background-position: 1184px 1336px;
}
.ikon.ikona-88 {
  background-position: 1351px 1336px;
}
