.ikonki {
  display: inline-block;
  width: 174px;
  height: 174px;
  background: rgba(0, 0, 0, 0) url("../img/ico.png") no-repeat 0px 0px;
}
.ikonki.x1px1px {
  background-position: 1px 1px;
}
.ikonki.x175px1px {
  background-position: 175px 1px;
}
.ikonki.x349px1px {
  background-position: 349px 1px;
}
.ikonki.x523px1px {
  background-position: 523px 1px;
}
.ikonki.x697px1px {
  background-position: 697px 1px;
}
.ikonki.x871px1px {
  background-position: 871px 1px;
}
.ikonki.x1045px1px {
  background-position: 1045px 1px;
}
.ikonki.x1219px1px {
  background-position: 1219px 1px;
}
.ikonki.x1393px1px {
  background-position: 1393px 1px;
}
.ikonki.x1px175px {
  background-position: 1px 175px;
}
.ikonki.x175px175px {
  background-position: 175px 175px;
}
.ikonki.x349px175px {
  background-position: 349px 175px;
}
.ikonki.x523px175px {
  background-position: 523px 175px;
}
.ikonki.x697px175px {
  background-position: 697px 175px;
}
.ikonki.x871px175px {
  background-position: 871px 175px;
}
.ikonki.x1045px175px {
  background-position: 1045px 175px;
}
.ikonki.x1219px175px {
  background-position: 1219px 175px;
}
.ikonki.x1393px175px {
  background-position: 1393px 175px;
}
.ikonki.x1px349px {
  background-position: 1px 349px;
}
.ikonki.x175px349px {
  background-position: 175px 349px;
}
.ikonki.x349px349px {
  background-position: 349px 349px;
}
.ikonki.x523px349px {
  background-position: 523px 349px;
}
.ikonki.x697px349px {
  background-position: 697px 349px;
}
.ikonki.x871px349px {
  background-position: 871px 349px;
}
.ikonki.x1045px349px {
  background-position: 1045px 349px;
}
.ikonki.x1219px349px {
  background-position: 1219px 349px;
}
.ikonki.x1393px349px {
  background-position: 1393px 349px;
}
.ikonki.x1px523px {
  background-position: 1px 523px;
}
.ikonki.x175px523px {
  background-position: 175px 523px;
}
.ikonki.x349px523px {
  background-position: 349px 523px;
}
.ikonki.x523px523px {
  background-position: 523px 523px;
}
.ikonki.x697px523px {
  background-position: 697px 523px;
}
.ikonki.x871px523px {
  background-position: 871px 523px;
}
.ikonki.x1045px523px {
  background-position: 1045px 523px;
}
.ikonki.x1219px523px {
  background-position: 1219px 523px;
}
.ikonki.x1393px523px {
  background-position: 1393px 523px;
}
.ikonki.x1px697px {
  background-position: 1px 697px;
}
.ikonki.x175px697px {
  background-position: 175px 697px;
}
.ikonki.x349px697px {
  background-position: 349px 697px;
}
.ikonki.x523px697px {
  background-position: 523px 697px;
}
.ikonki.x697px697px {
  background-position: 697px 697px;
}
.ikonki.x871px697px {
  background-position: 871px 697px;
}
.ikonki.x1045px697px {
  background-position: 1045px 697px;
}
.ikonki.x1219px697px {
  background-position: 1219px 697px;
}
.ikonki.x1393px697px {
  background-position: 1393px 697px;
}
.ikonki.x1px871px {
  background-position: 1px 871px;
}
.ikonki.x175px871px {
  background-position: 175px 871px;
}
.ikonki.x349px871px {
  background-position: 349px 871px;
}
.ikonki.x523px871px {
  background-position: 523px 871px;
}
.ikonki.x697px871px {
  background-position: 697px 871px;
}
.ikonki.x871px871px {
  background-position: 871px 871px;
}
.ikonki.x1045px871px {
  background-position: 1045px 871px;
}
.ikonki.x1219px871px {
  background-position: 1219px 871px;
}
.ikonki.x1393px871px {
  background-position: 1393px 871px;
}
.ikonki.x1px1045px {
  background-position: 1px 1045px;
}
.ikonki.x175px1045px {
  background-position: 175px 1045px;
}
.ikonki.x349px1045px {
  background-position: 349px 1045px;
}
.ikonki.x523px1045px {
  background-position: 523px 1045px;
}
.ikonki.x697px1045px {
  background-position: 697px 1045px;
}
.ikonki.x871px1045px {
  background-position: 871px 1045px;
}
.ikonki.x1045px1045px {
  background-position: 1045px 1045px;
}
.ikonki.x1219px1045px {
  background-position: 1219px 1045px;
}
.ikonki.x1393px1045px {
  background-position: 1393px 1045px;
}
.ikonki.x1px1219px {
  background-position: 1px 1219px;
}
.ikonki.x175px1219px {
  background-position: 175px 1219px;
}
.ikonki.x349px1219px {
  background-position: 349px 1219px;
}
.ikonki.x523px1219px {
  background-position: 523px 1219px;
}
.ikonki.x697px1219px {
  background-position: 697px 1219px;
}
.ikonki.x871px1219px {
  background-position: 871px 1219px;
}
.ikonki.x1045px1219px {
  background-position: 1045px 1219px;
}
.ikonki.x1219px1219px {
  background-position: 1219px 1219px;
}
.ikonki.x1393px1219px {
  background-position: 1393px 1219px;
}
