<!DOCTYPE html>
<html>
<head>
    <title>Czat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.angularjs.org/1.6.9/angular-sanitize.js"></script>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl" class="czat fiolet">

<div class="container">

    <div class="header">
        <div>
            <span>FajnyCzat</span>
        </div>


    </div>



    <div id="okno">

        <div class="belka"><a href="czat.html"><img src="img/ikonawiadomosc.png" width="50px" height="50px"> </a>
            <h1>{{$storage.name}}</h1>
            <div class="prawy">Wyloguj                                         </div>
        </div>

        <div class="mess-list">
            <div class="messages" ng-repeat="item in czatdata | orderBy:'id':true | filter: szukaj ">
                <div class="name">
                    <div data-ala="ma" class="czat-name">Name: <span>{{item.name}}</span></div>
                </div>
                <div class="content">
                    <div class="czat-data">Data: <span>{{item.created_at}}</span></div>
                    <div class="czat-content" ng-bind-html="item.content"></div>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <div class="inp"><div id="menuboczne">

        <center> <input type='text' value='Dodaj użytkownika' class='btn' />
            <a href="czat.html" class="przycisk"><img src="img/dodajikona.png" width="7%" ></a></center>


        <div class="nicki" style="height: 650px;overflow-x: hidden;">
            <div class="nickilista" ng-repeat="item in listanickow | orderBy:'id':true | filter: szukaj ">
                <div class="name">
                    <div class="czcionka"><img src="img/ikonazdjecie.png" width="30">
                        <span class="edit">{{item}}</span></div><br>
                </div>
            </div>
        </div>
    </div>
        <div class="foot">
            <center> <input class="form-control" ng-model="$storage.name">

                <input ng-model="content"  placeholder="Napisz_wiadomosc" class="przycisk1">
                <a href="czat.html" class="przycisk2" style="position:absolute; left: 850px; top:893px;"><img src="img/ikonawiadomosc.png" width="10%" ></a>
                <button ng-click="wyslij()" class="wyslijbutton">    </button>

            </center> </div>

    </div>

 <input ng-model="szukaj.name" class="szukaj" placeholder="Wyszukaj">

<script>
        var app = angular.module('myApp', ['ngSanitize']);
        app.controller('myCtrl', function($scope, $http, $interval) {

            $scope.pytanieDoSerwera = false;
            $scope.$storage = window.localStorage;

            $scope.czatdata = [];
            $scope.listanickow = [];
            $scope.$storage.lastid = 0;
            $scope.$storage.nickiid = 0;

            dist = (value, index, self) => {
                return self.indexOf(value) === index;
            }

            $scope.wyslij = () => {

                var img = /(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)/;
                var url = /(http)(s)?(:\/\/)(.*)/;

               if(img.test($scope.content))
               {
                   var t = $scope.content.match(/((http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)\b)/gim);
                   console.log(t);
                   angular.forEach(t.filter(dist), (item, key)=> {
                       $scope.content = $scope.content.replace(new RegExp(item,'g'), '<img src="'+item+'" alt="" class="img img-responsive" />');
                   });

                  // $scope.content = '<img src="'+$scope.content+'" class="img img-responsive" alt="" />';
               } else if(url.test($scope.content))
               {
                   $scope.content = '<a href="'+$scope.content+'">'+$scope.content+'</a>';
               }

                $http.get('http://wsi.ovh/czat?lastid='+$scope.$storage.lastid+'&name='+$scope.$storage.name+'&content='+$scope.content).then( (e)=> {

                    $scope.content = '';
                   // console.log(e.data);

                  // $scope.czatdata=e.data;

                }, (e)=> {} );
            }

            $scope.czytajrekord = ()=>{

                if(!$scope.pytanieDoSerwera)
                {
                    $scope.pytanieDoSerwera=true;
                    $http.get('http://wsi.ovh/czat?lastid='+$scope.$storage.lastid).then( (e)=> {

                         angular.forEach( e.data, (item, key) => {

                                $scope.czatdata.push(item);
                                if(item.id >= $scope.$storage.lastid)
                                    $scope.$storage.lastid = item.id + 1;
                         });

                         if(e.data.length>0 && 0)
                         {
                             setTimeout( () =>{
                                var okno = document.getElementById("okno");
                                okno.scrollTop = okno.scrollHeight;
                             }, 200 );
                         }

                         $scope.pytanieDoSerwera = false;
                         $scope.wczytywanienickow();


                }, (e)=> {
                         $scope.pytanieDoSerwera = false;
                } );
               }
            }


            $scope.wczytywanienickow = ()=>{
                if(!$scope.pytanieDoSerwera)
                {
                    $scope.pytanieDoSerwera=true;
                    $http.get('http://wsi.ovh/user?un=nick').then( (e)=> {

                         angular.forEach( e.data, (item, key) => {


                            if($scope.listanickow.indexOf(item.nick) == -1){
                                $scope.listanickow.push(item.nick);


                                if(item.id >= $scope.$storage.nickiid){
                                    $scope.$storage.nickiid = item.id + 1;
                                    console.log(item.nick);
                                }
                            }
                         });

                         if(e.data.length>0 && 0)
                         {
                             setTimeout( () =>{
                                var okno = document.getElementById("okno");
                                okno.scrollTop = okno.scrollHeight;
                             }, 200 );
                         }

                         $scope.pytanieDoSerwera = false;


                }, (e)=> {
                         $scope.pytanieDoSerwera = false;
                } );
               }
            }

            $interval(  $scope.czytajrekord, 1000000);
            $scope.czytajrekord();
            $interval(  $scope.wczytywanienickow, 1000000);
            $scope.wczytywanienickow;
        });
        </script>

</body>
</html>